body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 20%;
    margin: 50px;
    display: grid;
    justify-items: center;
}
.form__field{
    width: 100%;
    margin: 5px 0px;
    display: grid;
}
.container{
    width: 80%;
    display: grid;
    gap: 10px;
}
.transpose{
    display: none;
    margin: 30px;
}
p{
    text-align: center;
    border: 1px solid gray;
}
.input{
    text-align: center;
}